<launch>
    <!-- For multiple robot spawns -->

    <!-- position and rotation refer to the drawer location. Note: values are strings ''-->
    <arg name="position" default="'2 -.55 0.38'"/>
    <arg name="rotation" default="'-1.5708 -3.1416 -3.1416'"/>
    
    <!-- Path to CSV file containing trial data. Default was for testing purposes -->
    <arg name="data" default="/home/sogol/Documents/drawer_tests/real_kinova_tests/drawer_trial10.csv"/>

    <include file="$(find j2s7s300_moveit_config)/launch/j2s7s300_virtual_robot_demo_visualization.launch" />
    <include file="$(find kinova_description)/launch/drawer_spawn.launch">
        <arg name="data" value="$(arg data)"/>
         <arg name="position" value="$(arg position)"/>
         <arg name="rotation" value="$(arg rotation)"/>
    </include>

    <include file="$(find j2s7s300_moveit_config)/launch/drawer_moveit_rviz.launch">
        <arg name="config" value="true"/>
        <arg name="debug" value="false"/>
    </include>

</launch>
